rust/rust_ffi/target
rust_ffi/target
rust/target
zig/zig-cache
c/main.dSYM
result.txt
main
.idea
rust/rocksdb*
.vscode
bindings.h
managed_context/
test_suite_analysis/
venv/
cairo-lang/
__pycache__/
.asciidoctor/
