**/target
**/rocksdb*
**/zig-cache
**/zig-out
c/main.dSYM
result.txt
main
.idea
.vscode
bindings.h
managed_context/
test_suite_analysis/
venv/
cairo-lang/
__pycache__/
.asciidoctor/
**.so
**.o
**.d
compile_commands.json
.cache

rust_pathfinder/pathfinder/
*.egg-info